<h3 class="list-header">All WelcomeCalls</h3>
<div class="list-position">
  <div class="list-wrapper">
    <div class="list-navbar">
      <div class="one-list-navbar">
        <div class="options">
           <% @time_param_options.each do |time_option| %>
            <% if @time_param == time_option %>
              <%= link_to time_option.capitalize, welcome_calls_path(user_group: @user_group_param, time: time_option), class: 'option active' %>
            <% else %>
              <%= link_to time_option.capitalize, welcome_calls_path(user_group: @user_group_param, time: time_option), class: 'option' %>
            <% end %>
          <% end %>
          <!-- <div class="option"><%#= link_to 'Date Range', '#' %></div> -->
        </div>
        <div class="jump-to-call">
          <%= link_to 'click here to open whereby', 'https://whereby.com/stacey-living', target: :_blank %>
        </div>
        <div class="query">
          <%= form_tag welcome_calls_path, method: :get do %>
            <%= text_field_tag :search,
              params[:search],
              class: "form-control",
              placeholder: "Find a welcome call"
            %>
            <%= text_field_tag :time, params[:time], class: 'd-none' %>
            <%= submit_tag "Search", class: "btn btn-primary d-none" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="list-container">
      <% unless @welcome_calls.empty?  %>
        <div class="list-context-container">
          <div class="list-info">
            <span class="list-header">Time</span>
            <span class="list-header">Applicants name</span>
            <span class="list-header details-header">Detail</span>
          </div>
        </div>
      <% end %>
      <% @dates.each do |date| %>
        <div class="date">
          <%= date.today? ? 'Today' : date.strftime("%A, %d %B %Y") %>
        </div>
        <!-- <div class="list-context-container"> -->
          <% unless @welcome_calls.empty? %>
            <% @welcome_calls.where(start_time: date.all_day).each do |call| %>
              <span class="d-none" id="welcome_call_id"><%= call.id %></span>
              <!-- <div class="call-list-item-container"> -->
                <div class="list-context-container">
                  <div class="list-info">
                    <span><%= call.start_time.strftime("%H:%M") %> - <%= call.end_time.strftime("%H:%M") %></span>
                    <span><%= call.name %></span>
                    <div class="attendance">
                      <% if call.attendance %>
                        <span class="attended attendance-button green"><i class="fas fa-thumbs-up"></i></span>
                        <span class="not-attended attendance-button"><i class="fas fa-thumbs-down"></i></span>
                      <% elsif call.attendance == false %>
                        <span class="attended attendance-button"><i class="fas fa-thumbs-up"></i></span>
                        <span class="not-attended attendance-button red"><i class="fas fa-thumbs-down"></i></span>
                      <% else %>
                        <span class="attended attendance-button"><i class="fas fa-thumbs-up"></i></span>
                        <span class="not-attended attendance-button"><i class="fas fa-thumbs-down"></i></span>
                      <% end %>
                    </div>
                    <div class="details d-flex">
                      <i class="fas fa-caret-right"></i>
                      <i class="fas fa-caret-down d-none"></i>
                      <span>Details</span>
                    </div>
                  </div>
                  <!-- <div class="call-time">
                    <p><%#= call.start_time.strftime("%H:%M") %> - <%#= call.end_time.strftime("%H:%M") %></p>
                  </div> -->
                  <!-- <div class="call-info">
                    <p><%#= call.name %></p>
                  </div> -->
                  <!-- this the dropdown -->
                 <!--  <div class="details d-flex">
                    <i class="fas fa-caret-right"></i>
                    <i class="fas fa-caret-down d-none"></i>
                    <p>Details</p>
                  </div> -->
                  <div class="list-detail d-none">
                    <% user = call.booking.user %>
                    <p class="invite-link"><%= link_to 'send booking process invite', booking_send_booking_process_invite_path(call.booking) %></p>
                    <table class="user-info">
                      <tr>
                        <td>Email:</td>
                        <td><%= user.email %></td>
                      </tr>
                      <tr>
                        <td>Move in:</td>
                        <td><%= call.booking.move_in.strftime('%d. %B %Y') %></td>
                      </tr>
                      <tr>
                        <td>Move out:</td>
                        <td><%= call.booking.move_out.strftime('%d. %B %Y') %></td>
                      </tr>
                      <tr>
                        <td>Phone:</td>
                        <td><%= user.phone_code %> <%= user.phone_number %></td>
                      </tr>
                      <tr>
                        <td>Prefered Suites:</td>
                        <td>
                          <% user.prefered_suites[0...-1].each do |suite| %>
                            <%= suite.roomtype.name %>,
                          <% end %>
                          <% last_prefered_suite = user.prefered_suites.last %>
                          <%= last_prefered_suite.roomtype.name %>
                        </td>
                      </tr>
                      <tr>
                        <td>Amount of People:</td>
                        <td><%= user.amount_of_people %></td>
                      </tr>
                      <tr>
                        <td>Job:</td>
                        <td><%= user.job %></td>
                      </tr>
                      <tr>
                        <td>Date of birth:</td>
                        <td><%= user.dob.strftime('%d. %B %Y') %></td>
                      </tr>
                      <% if (gender = user.gender).present? %>
                        <tr>
                          <td>Gender:</td>
                          <td><%= gender %></td>
                        </tr>
                      <% end %>
                      <% if (social_links = user.social_links).present? %>
                        <tr>
                          <td>Social Media:</td>
                          <td>
                            <% user.social_links[0...-1].each do |link| %>
                              <%= link.name.capitalize %>: <%= link_to "#{link.name}", link.url, target: :_blank %>,
                            <% end %>
                            <% last_social_link = user.social_links.last %>
                            <%= last_social_link.name.capitalize %>: <%= link_to "#{last_social_link.name}", last_social_link.url, target: :_blank %>
                          </td>
                        </tr>
                      <% end %>
                      <tr>
                        <td>Applied of the:</td>
                        <td><%= user.created_at.strftime('%d. %B %Y') %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              <!-- </div> -->
            <% end %>
          <% else %>
            <p>Sorry, but there are no calls with that person scheduled</p>
          <% end %>
        <!-- </div> -->
      <% end %>
      <p class="list-end">You´ve reached the end of the list</p>
    </div>
  </div>
</div>
