<p>Hello <%= @user.first_name %>,</p>
<p>Our Call is now rescheduled and will be on the <%= @welcome_call.start_time.strftime('%d.%B %Y') %> at <%= @welcome_call.start_time.strftime('%H:%M') %> and will take approximately 15min.</p>
<div style="display: grid; margin-bottom: 20px;">
	<span>Start the call by clicking on the link: <%= link_to 'start_call', 'https://whereby.com/stacey-living' %></span>
	<span>If problems occur, reply to this email or call me at +49 40 696389600.</span>
</div>
<div style="display: grid;">
	<span>Looking forward to our call!</span>
	<span>Cheers</span>
	<span>Hannah</span>
	<%= image_tag attachments['logo.png'].url, style: 'width: 150px' %>
</div>