<p>Hello <%= @user.first_name %>,</p>
<p>Our Call is now rescheduled and will be on the <%= @welcome_call.start_time.strftime('%d.%B %Y') %> at <%= @welcome_call.start_time.strftime('%H:%M') %> and will take approximately 15min.</p>
<p>Start the call by clicking on the link: <%= link_to 'start_call', 'https://whereby.com/stacey-living' %></p>
<p>If problems occur, reply to this email or call me at +49 (0)152 34514111‬.</p>
<p>Looking forward to our call!</p>
<p>Cheers</p>
<p>Matteo</p>
<%= image_tag attachments['logo.png'].url, style: 'width: 150px' %>
