<%= render 'shared/three_steps_navbar', step: 2 %>
<div class="contract-page-wrapper">
  <div class="contract-page-header">
    <h2>Rental Contract</h2>
  </div>
  <div class="contract-page-container">
    <div class="contract-user-form">
      <i class="fas fa-arrow-left back-arrow change-form d-none"></i>
      <span class="info-text">
        Hi <%= @user.first_name %>, <br>
        Please complete the following information to generate the rental agreement.
      </span>
      <div class="line"></div>
      <%= simple_form_for @contract, method: :post, url: booking_contracts_path(@booking) do |m| %>
        <%= m.simple_fields_for :user do |f| %>
          <%= f.input :street, wrapper_html: {class: 'contract-user-inputs'} %>
          <%= f.input :zipcode, wrapper_html: {class: 'contract-user-inputs'} %>
          <%= f.input :city, wrapper_html: {class: 'contract-user-inputs'} %>
          <%= f.input :country, label: 'Country', collection: @countries, selected: 'Germany', wrapper_html:{ class: 'contract-user-inputs'} %>
        <% end %>
        <div class="signature-fields d-none">
          <%= m.input :signature, label: 'Please type in your full name', as: :text, class: 'signature-pad' %>
          <%= m.input :signed_date, as: :hidden, input_html: {value: Date.today} %>
        </div>
        <div class="stacey-button reverse-hover change-form" id="sign-next-button">Next</div>
        <%= m.submit 'Sign Contract', class: 'stacey-button reverse-hover sign-button d-none' %>
      <% end %>
    </div>
    <div id="pdf">
      <!-- this is loading the contract as PDF -->
      <embed src="/bookings/<%= @booking.booking_auth_token %>/<%= @booking.id %>/contracts/new.pdf" type="application/pdf">
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
