<%= render 'shared/three_steps_navbar', step: 2 %>
<div class="contract-page-wrapper">
  <h2 class="contract-page-header">Rental Contract</h2>
  <div class="contract-page-container">
    <div class="contract-user-form">
      <span class="info-text">There are just a few more information we need to set up the Contract.</span>
      <%= simple_form_for @user, html: { method: :patch } do |f| %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :zipcode %>
        <%= f.input :country, as: :string %>
        <%= f.submit 'Sign Contract', class: 'stacey-button reverse-hover' %>
      <% end %>
    </div>
    <div id="pdf">
      <!-- this is loading the contract as PDF -->
      <embed src="/bookings/<%= @booking.booking_auth_token %>/<%= @booking.id %>/contracts/new.pdf" type="application/pdf">
    </div>
  </div>
</div>
<%= link_to 'payment', booking_payment_path(@booking.booking_auth_token, @booking.id) %>
<%= render 'shared/footer' %>
