<div class="partner-formpage-wrapper">
  <div class="partner-formpage-introduction">
    <h1 class="partner-formpage-header">Thank you for your interest in our concept. We would love to get in touch with you. Please give us the following information so we can contact you soon.</h1>
    <%= image_tag "https://res.cloudinary.com/dvuqwvjay/image/upload/v1550506076/rawpixel-567016-unsplash-min.jpg", class: "apply-form-picture partner-formpage-picture hidden-xs" %>
  </div>
  <% countries = IsoCountryCodes.all %>
  <% code = [] %>
  <% IsoCountryCodes.all.each do |country| %>
    <% code << "#{country.calling}" %>
  <% end %>
  <div class="partner-form">
    <%= simple_form_for(@partner) do |f| %>
      <div class="partner-formpage-field">
        <%= f.input :name, label: "NAME", placeholder: "MATTEO KREIDLER", required: true %>
      </div>
      <div class="partner-formpage-field">
        <%= f.input :email, label: "EMAIL", placeholder: "MATTEO@STACEY-LIVING.DE", required: true %>
      </div>
      <div class="partner-formpage-field">
        <%= f.input :company, label: "COMPANY", placeholder: "STACEY REAL-ESTATE UG", required: true %>
      </div>
      <div class="partners-phone-wrapper">
        <div class="partner-formpage-field phone-code">
              <%= f.input :phone_code, collection: code, selected: "+49", label: "CODE" %>
        </div>
        <div class="partner-formpage-field phone">
          <%= f.input :phone, label: "PHONENUMBER", placeholder: "0186 2857925", required: true %>
        </div>
      </div>
      <div class="partner-formpage-field message">
        <%= f.input :message, label: "YOUR MESSAGE", placeholder: "MORE INFORMATION" %>
      </div>
      <div class="partner-button-center"><%= f.submit 'GET PARTNER', class: "stacey-button partner-formpage-button btn" %>
      </div>
    <% end %>
  </div>
</div>
