<div class="applicants-overview-container">
  <h3>Currently we have <%= Applicant.count %> applicants</h3>
  <% if current_user.admin? %>
    <ol class="applicant-list">
      <% @applicants.each do |applicant| %>
        <li class="applicant-list-item">
          <%= applicant.first_name %> <%= applicant.last_name %>,
          <%= applicant.email %>,
          <%= applicant.phone_code %> <%= applicant.phone %>
          <% if applicant.invited %>
            <%= link_to 'Invite again', user_invitation_path(applicant: applicant), method: :post, class: 'invite' %>
          <% else %>
            <%= link_to 'Invite', user_invitation_path(applicant: applicant), method: :post, class: 'invite' %>
          <% end %>
          <%= link_to 'Delete', applicant_path(applicant), method: :delete %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <h1>To access this page you have to be logged in as an admin of this page. </h1>
  <% end %>
</div>
