<%= render 'shared/navbar' %>
<div class="applicants-overview-container">
  <h3>Currently we have <%= Applicant.count %> applicants</h3>
  <ol class="applicant-list">
    <% @applicants.each do |applicant| %>
      <li class="applicant-list-item">
        <%= applicant.first_name %> <%= applicant.last_name %>,
        <%= applicant.email %>,
        <%= applicant.phone_code %> <%= applicant.phone %>
        <% if applicant.invited %>
          <%= link_to 'Invite again', user_invitation_path(applicant: applicant), method: :post, class: 'invite' %>
        <% else %>
          <%= link_to 'Invite', user_invitation_path(applicant: applicant), method: :post, class: 'invite' %>
        <% end %>
        <% if applicant.authentity_token_contract.present? %>
          <%= link_to 'Contract', applicants_send_invitation_for_contract_pages_path(applicant: applicant), method: :post %>
        <% else %>
          <%= link_to 'Contract again', applicants_send_invitation_for_contract_pages_path(applicant: applicant), method: :post %>
        <% end %>
        <%= link_to 'Delete', applicant_path(applicant), method: :delete %>
      </li>
    <% end %>
  </ol>
</div>
