<div class="apply-formpage-container">
  <div class="apply-formpage-introduction">
    <h1 class="apply-form-header">We just have a few questions so we can get to know you a little better.</h1>
    <div class="apply-formpage-introduction-picture hidden-xs">
      <%= image_tag "https://res.cloudinary.com/dvuqwvjay/image/upload/v1549884021/simon-maage-706908-unsplash_1_-min.jpg", class: "apply-form-picture" %>
    </div>
  </div>
  <% countries = IsoCountryCodes.all %>
  <% code = [] %>
  <% IsoCountryCodes.all.each do |country| %>
  <% code << "#{country.calling}" %>
  <% end %>
  <div class="apply-form-wrapper">
    <div class="center-apply-form">
      <%= simple_form_for(@applicant) do |f| %>
        <div class="wrap-form">
          <div class="apply-field"><%= f.input :first_name, class: "apply-field", label: "FIRST NAME", placeholder: "MATTEO", required: false %></div>
          <div class="apply-field"><%= f.input :last_name, label: "LAST NAME", placeholder: "KREIDLER", required: false %></div>
          <div class="apply-field"><%= f.input :email, label: "EMAIL", placeholder: "MATTEO@STACEY-LIVING.de", required: false %></div>
          <div class="phone-wrapper apply-field">
            <div class="phone-code apply-dropdown"><%= f.input :phone_code, collection: code, selected: "+49", label: "CODE" %></div>
            <div class="phone"><%= f.input :phone, label: "PHONENUMBER", placeholder: "0186 2857925", required: false %></div>
          </div>
          <div class="apply-field date">
            <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year - 18, order: [:day, :month, :year], label: "WHEN WERE YOU BORN?", selected: 22.years.ago, required: false, class: 'date-test' %>
          </div>
          <div class="apply-field">
            <%= f.input :job, label: "WHAT DO YOU DO FOR LIVING?", placeholder: "YOUR JOB TITLE", required: false %>
          </div>
          <div class="apply-field date">
            <%= f.input :move_in_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, order: [:day, :month, :year], label: "WHEN DO YOU WANT TO MOVE IN?", required: false %>
            </div>
          <div class="apply-field apply-dropdown"><%= f.input :duration_of_stay, collection: ["3 Months", "4 Months", "5 Months", "6 Months", "6+ Months"], selected: "6 Months", label: "HOW LONG ARE YOU PLANING TO STAY?", required: false %></div>
          <div class="apply-field apply-dropdown"><%= f.input :amount_of_people, collection: ["Single", "Couple"], selected: "Single", label: "HOW MANY PEOPLE ARE MOVING IN?",  required: false %></div>
          <div class="apply-field social-media">
            <%= f.label :social_media, "ADD YOUR SOCIAL MEDIA LINKS IF YOU LIKE" %>
            <ul class="social-media-links list-unstyled">
              <li id="linked-in-icon"><!-- LinkedIn Profile - changeable -->
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </li>
              <li id="twitter-icon"><!-- Twitter Profile - changeable -->
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </li>
              <li id="instagram-icon"><!-- Instagram Profile - changeable -->
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </li>
              <li id="facebook-icon"><!-- Facebook Profile - changeable -->
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </li>
            </ul>
            <%#= f.input :linked_in, label: "YOUR LinkedIn PROFILE", placeholder: "URL" %>
          </div>
        </div>
        <!-- LinkedIn field to add LinkedIn Profile -->
        <div class="apply-field linked_in social-links hidden" id="linked-in-form">
          <%= f.input :linked_in, placeholder: 'Add your LinkedIn profile URL' %>
          <div class="btn social-button social-button-linked-in">ADD</div>
        </div>
        <!-- Twitter field to add Twitter Profile -->
        <div class="apply-field twitter social-links hidden" id="twitter-form">
          <%= f.input :twitter, placeholder: 'Add your Twitter profile URL' %>
          <div class="btn social-button social-button-twitter">ADD</div>
        </div>
        <!-- Instagram field to add Instagram Profile -->
        <div class="apply-field instagram social-links hidden" id="instagram-form">
          <%= f.input :instagram, placeholder: 'Add your Instagram profile URL' %>
          <div class="btn social-button social-button-instagram">ADD</div>
        </div>
        <!-- Facebook field to add Facebook Profile -->
        <div class="apply-field facebook social-links hidden" id="facebook-form">
          <%= f.input :facebook, placeholder: 'Add your Facebook profile URL' %>
          <div class="btn social-button social-button-facebook">ADD</div>
        </div>

        <div class="apply-button-position"><%= f.submit 'APPLY', class: "btn stacey-button apply-button" %></div>
      <% end %>
    </div>
  </div>
</div>

