<%= render 'shared/three_steps_navbar', step: step %>

<%#= @list %>

<div class="payment-wrapper">
  <div class="payment-container">
    <div class="payment-forms">
      <%= simple_form_for @booking, url: wizard_path, html: { method: :put, id: 'payment-form' } do |b| %>
        <div class="personal-information-wrapper">
          <div class="payment-section-header">
            <h3 class="bigger-font-weight">Book Your Suite</h3>
          </div>
          <div class="personal-information-container payment-section">
            <h3 class="personal-information-header">Personal Information</h3>
            <%= b.simple_fields_for :user do |f| %>
              <%= f.input :first_name %>

              <%= f.input :last_name %>

              <%= f.input :email %>

              <%= f.label :phone_number, 'PHONENUMBER' %>

              <div class="phone">
                <%= f.input :phone_code, label: false, collection: @phone_code %>
                <%= f.input :phone_number, label: false %>
              </div>
              <%= f.label :gender, 'WHAT IS YOUR GENDER?' %>
              <div class="gender">
                <div class="check-boxes only-one-box">
                  <%= f.collection_radio_buttons :gender, [['Male'], ['Female']], :first, :first, multiple: false %>
                </div>
              </div>

              <%= f.input :dob, as: :date, order: [:day, :month, :year], start_year: Date.today.year - 70, end_year: Date.today.year - 18, selected: 22.years.ago, label: 'WHEN WERE YOU BORN?' %>


              <%#= f.submit 'Update User', id: 'update-user-button', class: 'd-none'%>
            <% end %>
          </div>
        </div>
        <%= b.hidden_field :id %>
      <%# end %>

        <div class="stripe-section stripe-section-wrapper payment-section">
          <div class="stripe-section-header">
            <h3>Payment Details</h3>
            <div class="secure-payment">
              <i class="fas fa-lock"></i>
              <span>SecurePayment</span>
              <div class="accept-cards-icons">
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
              </div>
            </div>
          </div>
          <%#= simple_form_for booking_payments_path(@booking.booking_auth_token, @booking), method: :post, id: 'payment-form' do |f| %>
          <%#= form_tag booking_payments_path(@booking.booking_auth_token, @booking), id: 'payment-form' do |form| %>
            <div class="field">
              <label for="card-element" class="label">Enter credit or debit card</label>
            </div>
            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
            <div id="card-errors" role="alert"></div>
            <span class="d-none" id="client_secret"><%= @intent.client_secret %></span>
          <div class="terms-and-conditions">
            <%= check_box "TermsConditions", "terms-and-conditions", id: 'terms-and-conditions' %>
            <label for="terms-and-conditions">I have read and agree to the <%= link_to 'terms and conditions', '#', target: :_blank %></label>
            <!-- <span class="terms-and-conditions-label">I have read and agree to the <%#= link_to 'terms and conditions', '#', target: :_blank %></span> -->
          </div>
          <div class="privacy-policy">
            <p>By completing the reservation you agree to our <%= link_to 'privacy policy', 'https://www.stacey.de/data-protection', target: :_blank %></p>
          </div>
          <!-- <div class="buttons"> -->
            <%#= b.submit 'Complete Reservation & Process Payment', class: 'payment-button stacey-button reverse-hover' %>
            <!-- <button class="payment-button stacey-button reverse-hover">Complete Reservation & Process Payment</button> -->
          <!-- </div> -->
          <button class="btn payment-button stacey-button reverse-hover" id="submitFrm">
            Submit
          </button>
        <% end %>
        </div>
      <%# end %>
    </div>
    <div class="booking-summary">
      <div class="booking-summary-wrapper">
        <div class="payment-section-header">
          <div class="header">
            <i class="fas fa-lock"></i>
            <span>SecurePayment</span>
          </div>
          <div class="icons">
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
          </div>
        </div>
        <div class="booking-summary-container payment-section">
          <h3 class="booking-summary-header add-margin-bottom-to-header">Booking Summary</h3>
          <div class="summary-section">
            <div class="summary-item">
              <span class="category">Room Category</span>
              <span><%= @booking.room.roomtype.name %></span>
            </div>
            <div class="summary-item">
              <span class="category">Move-in</span>
              <span><%= @booking.move_in.strftime('%d.%m %Y') %></span>
            </div>
            <div class="summary-item">
              <span class="category">Move-out</span>
              <span><%= @booking.move_out.strftime('%d.%m %Y') %></span>
            </div>
            <div class="summary-item">
              <span class="category">Duration of your stay</span>
              <span><%= (@booking.move_out - @booking.move_in).to_i %> Days</span>
            </div>
          </div>
          <div class="summary-section">
            <p class="section-header">Monthly Costs</p>
            <div class="summary-item">
              <span class="category">All-inclusive Monthly Rent</span>
              <span><%= @price % 1 == 0 ? "#{@price.to_i} €" : "#{@price.to_i} €" %></span>
            </div>
          </div>
          <div class="summary-section">
            <p class="section-header">Total Today</p>
            <div class="summary-item">
              <span class="category">Booking Fee</span>
              <span><%= @booking_fee %> €</span>
            </div>
<!--             <div class="summary-item">
              <span class="category">Deposit</span>
              <span><%#= @price * 2 % 1 == 0 ? "#{@price.to_i * 2} €" : "#{@price * 2} €" %></span>
            </div> -->
           <!--  <div class="summary-item">
              <span class="category"><strong>Total</strong></span>
              <span><%= @total_today * 2 % 1 == 0 ? "#{@total_today.to_i} €" : "#{@total_today} €" %></span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
