<%= render 'shared/three_steps_navbar', step: step %>
<%#= render 'shared/carousel', pictures: @room.pictures %>

<div class="header-carousel">
  <%= render 'shared/carousel', pictures: @roomtype_photos, carousel_id: "room_banner#{@roomtype.id}", no_lightbox_button: false, caption: "#{@roomtype.name} Suite Pictures" %>
</div>

<div class="wrap-room-show-and-booking-form">
  <div class="room-show-wrapper">
    <div class="section room-basic-infos">
      <h3><%= @roomtype.name %> Suite</h3>
      <div class="amenities">
        <span class="amenity">
          <%= cl_image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1591348529/square-meter-icon.png', style: 'width: 20px' %>
          <span><%= @roomtype.size %> m<sup>2</sup></span>
        </span>
        <%= render 'shared/amenities', amenities: @roomtype_show_amenities %> <!-- , ameneties: @room.ameneties -->
      </div>
    </div>
    <div class="section">
      <h3>The Suite</h3>
      <p><%= @roomtype.descriptions.first.content %></p>
      <div class="room-show-photo">
        <% @roomtype_photos.each do |photo| %>
          <a href="<%= url_for(photo) %>" data-lightbox="lightbox_room_show_<%= @roomtype.id %>" data-title="<%= @roomtype.name %> Suite Pictures">
            <%= cl_image_tag photo.key %>
          </a>
        <% end %>
        <div class="lightbox-button">
          <%= image_tag 'camera.png' %>
        </div>
      </div>
      <!-- Room Photos, display all -->
    </div>
    <div class="section">
      <h3>The Location</h3>
      <p><%= @roomtype.project.descriptions.where(field: 'project info show').first.content %></p>
      <!-- image of project -->
    </div>

    <%= render 'shared/map', markers: @markers, myclass: 'room-map' %>

    <div class="section">
      <h3>What Is The Coliving Buzz All About?</h3>
      <div class="text">
        <span>Our members enjoy their individual private suites whilst sharing beautiful common spaces.</span><br>
        <span>Everything you need is included in one convenient payment: Rent, furniture, internet, utilities, cleaning, events, Netflix + Spotify in the common spaces and even the GEZ.</span><br>
        <span>Do not take our word for granted, move in and experience the STACEY way of living!</span>
      </div>
    </div>
  </div>
  <%= render 'shared/booking_form', booking: @booking, roomtype: @roomtype, room_availability: @room_availability, project: @project, with_balcony: @with_balcony %>
</div>



<!-- for the booking form we need the calendar info. Meening we need to know during which times the room is not available. -->
<%#= render 'shared/booking_form', flat: @flat, room: @room, user: @user, booking: @booking, authentity_token_contract: @authentity_token_contract, contract: @contract %>
