<%= render 'shared/three_steps_navbar', step: step %> <!-- must be step 1 because choosing Project doesn´t count -->
<!-- this must be the banner of projects pictures -->
<div class="header-carousel">
  <%= render 'shared/carousel', pictures: (@project.photos + @project.community_areas.first.photos), carousel_id: "Project#{@project.id}", no_lightbox_button: false, caption: "#{@project.name} Pictures" %>
</div>
<!-- the quote -->

<div class="project-short-description">
  <div class="location-name">
    <span>STACEY</span>
    <span><%= @project.name %></span>
  </div>
  <span class="description"><%= @project.descriptions.where(field: 'project info index').first.content %></span>
</div>
<div class="common-space-info">
  <p class="info-header">The Community Space</p>
  <span class="description"><%= simple_format(strip_tags(@project.community_areas.first.descriptions.first.content)) %></span>
  <% if @community_area_amenities.present? %>
    <ul class="common-space-amenities amenities">
      <% @community_area_amenities.each do |amenity| %>
        <div class="amenity">
          <%= cl_image_tag amenity.photo.key, style: 'width: 20px' %>
          <li><%= amenity.title %></li>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @project.name == 'Mühlenkamp' %>
  <div class="matterport-tour" style="text-align: center; margin: 0 50px;">
    <iframe width='100%' height='480' style="border-radius: 5;" src='https://my.matterport.com/show/?m=FBXCJk7q5LZ' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
  </div>
<% end %>

<div class="cards-wrapper">
  <p class="suites-header">The Suites</p>
  <div class="cards-container">
    <% @roomtypes.each_with_index do |roomtype, index| %>
      <div class="stacey-card<%= ' not-bookable' if !roomtype.rooms_bookable? %>" id='room-card'>
        <div class="availability">
          <span>Available</span>
          <span><%= @room_availability_hash[roomtype.name] %></span>
        </div>
        <% photos = roomtype.name == 'Mighty+' ? @roomtypes.first.photos : roomtype.photos %>
        <%= render 'shared/carousel', pictures: photos, carousel_id: "Room#{roomtype.id}", no_lightbox_button: true, caption: "#{roomtype.name} Suite Pictures" %>
        <div class="stacey-card-header">
          <span class="name"><%= roomtype.name.titleize %></span>
          <span class="price">from €<%= (cheapest_price = roomtype.prices.order(:amount).first.amount) % 1 == 0 ? cheapest_price.to_i : cheapest_price %></span>
        </div>
        <% roomtype_index_inventory_amenities = [] %>
        <% roomtype_index_inclusion_amenities = [] %>
        <% roomtype.join_amenities.each{|ja| roomtype_index_inventory_amenities << ja.amenity if ja.name == 'roomtype index inventory' } %>
        <% roomtype.join_amenities.each{|ja| roomtype_index_inclusion_amenities << ja.amenity if ja.name == 'roomtype index inclusion' } %>
        <div class="roomtype-show-amenities">
          <div class="amenity-section size">
            <strong>Size</strong>(<%= cl_image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1591348529/square-meter-icon.png', style: 'width: 20px' %>):
            <%= (size = roomtype.size) % 1 == 0 ? size.to_i : size %> m<sup>2</sup>
          </div>
          <% if roomtype_index_inventory_amenities.length > 0 %>
            <div class="amenity-section amenity-inventory">
              <strong>Inventory</strong>:
              <% roomtype_index_inventory_amenities[0...-1].each do |amenity| %>
                <%= amenity.title %>,
              <% end %>
              <%= roomtype_index_inventory_amenities.last.title %>
            </div>
          <% end %>
          <% if roomtype_index_inclusion_amenities.length > 0 %>
            <div class="amenity-section amenity-inventory">
              <strong>Includes</strong>:
              <% roomtype_index_inclusion_amenities[0...-1].each do |amenity| %>
                <%= amenity.title %>,
              <% end %>
              <%= roomtype_index_inclusion_amenities.last.title %>, access to the community spaces, utilities, coffee- & water flat rate, basic supplies, monthly member events
            </div>
          <% end %>
          <div class="amenity-section">
            <strong>Person</strong>: For <%= roomtype.amount_of_people %> member
          </div>
        </div>
        <% if roomtype.rooms_bookable? %>
          <%= link_to 'Explore', booking_process_path(@booking, @booking.booking_auth_token, 'room', roomtype_id: roomtype.id), class: 'stacey-card-button stacey-button reverse-hover' %>
        <% else %>
          <span class="stacey-card-button stacey-button disabled">Not available</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if current_user.present? && current_user.admin? %>
  <%= link_to 'Create new Roomtype', project_step_path(@project, Project.form_steps.last), class: "stacey-button" %>
<% end %>

<div class="common-space-info">
  <p class="info-header">The Location</p>
  <span class="description"><%= @project.address.description.content %></span>
</div>

<%= render 'shared/map', markers: @markers, myclass: 'rooms-map' %>

<%= render 'shared/footer' %>
