<!-- <%# @bookings.each do |booking| %>
  <li><%#= booking.user.full_name %></li>
  <li><%#= booking.room.name %></li>
  <li><%#= booking.move_in.strftime('%d.%B %Y') %></li>
  <li><%#= booking.move_out.strftime('%d.%B %Y') %></li>
<%# end %>
<%# @bookings.each_with_index do |booking, index| %>
  <li><%#= booking.move_out + 1.day %> - <%#=  @bookings[index + 1].present? ? @bookings[index + 1].move_in - 1.day : 'open' %></li>
<%# end %>
 -->

<h3 class="list-header">All Bookings</h3>

<div class="list-position">
  <div class="list-wrapper">
    <div class="list-navbar">
      <div class="one-list-navbar">
        <div class="options">
          <% @all_room_names.each do |name| %>
            <% if @room_name_param == name %>
              <%= link_to name.capitalize, bookings_path(room_name: name), class: 'option active' %>
            <% else %>
              <%= link_to name.capitalize, bookings_path(room_name: name), class: 'option' %>
            <% end %>
          <% end %>
        </div>
        <div class="query">
          <%= form_tag bookings_path, method: :get do %>
            <%= text_field_tag :search,
            params[:search],
            class: "form-control",
              placeholder: "Find a user"
              %>
              <%= submit_tag "Search", class: "btn btn-primary d-none" %>
          <% end %>
        </div>
      </div>
      <div class="between-navbar-line"></div>
      <div class="one-list-navbar next">
        <div class="options">
          <% @time_param_options.each do |time_option| %>
            <% if @time_param == time_option %>
              <%= link_to time_option.capitalize, bookings_path(room_name: @room_name_param, time: time_option), class: 'option active' %>
            <% else %>
              <%= link_to time_option.capitalize, bookings_path(room_name: @room_name_param, time: time_option), class: 'option' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="between-navbar-line"></div>
      <div class="navbar-infotext">
        <span>We have <%= @total_room_number %> <%= @room_name unless @room_name == 'all' %> Rooms and we currently have <%= @total_current_room_bookings %> of them booked.</span>
      </div>
    </div>
    <div class="list-container">
      <div class="list-context-container">
        <div class="list-info">
          <span class="list-header set-width">Name</span>
          <span class="list-header set-width">Email</span>
          <span class="list-header set-width">MoveIn - MoveOut</span>
          <span class="list-header details-header set-width">Detail</span>
        </div>
      </div>
      <% @bookings.each do |booking| %>
        <% user = booking.user %>
        <div class="list-context-container">
          <div class="list-info">
            <span class="set-width"><%= user.full_name %></span>
            <span class="set-width"><%= user.email %></span>
            <div class="duration-dates set-width">
              <%= booking.move_in.strftime("%d.%m %Y") %> – <%= booking.move_out.strftime("%d.%m %Y") %>
            </div>
            <div class="details d-flex set-width">
              <i class="fas fa-caret-right"></i>
              <i class="fas fa-caret-down d-none"></i>
              <span>Details</span>
            </div>
          </div>
          <div class="list-detail d-none">
            <table class="user-info">
              <% if user.has_role?('tenant') %>
                <tr>
                  <td>move in:</td>
                  <td><%= booking.move_in.strftime("%d. %B %Y") %></td>
                </tr>
                <tr>
                  <td>move out:</td>
                  <td><%= booking.move_out.strftime("%d. %B %Y") %></td>
                </tr>
              <% end %>
              <tr>
                <td>Email:</td>
                <td><%= user.email %></td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td><%= user.phone_code %> <%= user.phone_number %></td>
              </tr>
              <tr>
                <td>Amount of People:</td>
                <td><%= user.amount_of_people %></td>
              </tr>
              <tr>
                <td>Job:</td>
                <td><%= user.job %></td>
              </tr>
              <% if (gender = user.gender).present? %>
                <tr>
                  <td>Gender:</td>
                  <td><%= gender %></td>
                </tr>
              <% end %>
              <% if (address = user.address).present? %>
                <tr>
                  <td>Address:</td>
                  <td><%= address.address %></td>
                </tr>
              <% end %>
              <tr>
                <td>Date of birth:</td>
                <td><%= user.dob.strftime('%d. %B %Y') %></td>
              </tr>
              <% if (social_links = user.social_links).present? %>
                <tr>
                  <td>Social Media:</td>
                  <td>
                    <% user.social_links[0...-1].each do |link| %>
                      <%= link.name.capitalize %>: <%= link_to "#{link.name}", link.url, target: :_blank %>,
                    <% end %>
                    <% last_social_link = user.social_links.last %>
                    <%= last_social_link.name.capitalize %>: <%= link_to "#{last_social_link.name}", last_social_link.url, target: :_blank %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td>Applied of the:</td>
                <td><%= user.created_at.strftime('%d. %B %Y') %></td>
              </tr>
              <td>Booking Id:</td>
              <td><%= booking.id %></td>
            </table>
          </div>
        </div>
      <% end %>
      <div class="pagination row">
        <% if @page_count > 1 %>
          <% if @page > 0 && @page == @page_count %>
            <div class="col-3 offset-4 pagination-link">
              <%= link_to "Previous Page", users_path(page: @page - 1), class: "btn btn-red btn-fullsize" %>
            </div>
            <div class="col-3 pagination-link">
              <%= link_to "Next Page", users_path(page: @page + 1), class: "btn btn-red btn-fullsize disabled" %>
            </div>
          <% elsif @page == 0 && @page < @page_count %>
            <div class="col-3 offset-4 pagination-link">
              <%= link_to "Previous Page", users_path(page: @page - 1), class: "btn btn-red btn-fullsize disabled" %>
            </div>
            <div class="col-3 pagination-link">
              <%= link_to "Next Page", users_path(page: @page + 1), class: "btn btn-red btn-fullsize" %>
            </div>
          <% else %>
            <div class="col-3 offset-4 pagination-link">
              <%= link_to "Previous Page", users_path(page: @page - 1), class: "btn btn-red btn-fullsize" %>
            </div>
            <div class="col-3 pagination-link">
              <%= link_to "Next Page", users_path(page: @page + 1), class: "btn btn-red btn-fullsize" %>
            </div>
          <% end %>
        <% else %>
          <p class="list-end">You´ve reached the end of the list</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
