<!-- <%# @bookings.each do |booking| %>
  <li><%#= booking.user.full_name %></li>
  <li><%#= booking.room.name %></li>
  <li><%#= booking.move_in.strftime('%d.%B %Y') %></li>
  <li><%#= booking.move_out.strftime('%d.%B %Y') %></li>
<%# end %>
<%# @bookings.each_with_index do |booking, index| %>
  <li><%#= booking.move_out + 1.day %> - <%#=  @bookings[index + 1].present? ? @bookings[index + 1].move_in - 1.day : 'open' %></li>
<%# end %>
 -->

<h3 class="list-header">All Bookings</h3>

<div class="list-position">
  <div class="list-wrapper">
    <div class="list-navbar">
      <div class="one-list-navbar">
        <div class="options">
          <% @all_room_names.each do |name| %>
            <% if @room_name_param == name %>
              <%= link_to name.capitalize, bookings_path(room_name: name), class: 'option active' %>
            <% else %>
              <%= link_to name.capitalize, bookings_path(room_name: name), class: 'option' %>
            <% end %>
          <% end %>
        </div>
        <div class="query">
          <%= form_tag bookings_path, method: :get do %>
            <%= text_field_tag :search,
            params[:search],
            class: "form-control",
              placeholder: "Find a user"
              %>
              <%= submit_tag "Search", class: "btn btn-primary d-none" %>
          <% end %>
        </div>
      </div>
      <div class="between-navbar-line"></div>
      <div class="one-list-navbar next">
        <div class="options">
          <% @time_param_options.each do |time_option| %>
            <% if @time_param == time_option %>
              <%= link_to time_option.capitalize, bookings_path(room_name: @room_name_param, time: time_option), class: 'option active' %>
            <% else %>
              <%= link_to time_option.capitalize, bookings_path(room_name: @room_name_param, time: time_option), class: 'option' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="between-navbar-line"></div>
      <div class="navbar-infotext">
        <span>We have <%= @total_room_number %> <%= @room_name unless @room_name == 'all' %> Rooms and we currently have <%= @total_current_room_bookings %> of them booked.</span>
      </div>
    </div>
    <div class="list-container">
      <div class="list-context-container">
        <div class="list-info">
          <span class="list-header set-width">Name</span>
          <span class="list-header set-width">Email</span>
          <span class="list-header set-width">MoveIn - MoveOut</span>
          <span class="list-header details-header set-width">Detail</span>
        </div>
      </div>
      <% @bookings.each do |booking| %>
        <% user = booking.user %>
        <div class="list-context-container">
          <div class="list-info">
            <span class="set-width"><%= user.full_name %></span>
            <span class="set-width"><%= user.email %></span>
            <div class="duration-dates set-width">
              <%= booking.move_in.strftime("%d.%m %Y") %> – <%= booking.move_out.strftime("%d.%m %Y") %>
            </div>
            <div class="details d-flex set-width">
              <i class="fas fa-caret-right"></i>
              <i class="fas fa-caret-down d-none"></i>
              <span>Details</span>
            </div>
          </div>
          <div class="list-detail d-none">
            <ul>
              <% if user.has_role?('tenant') %>
                <li>move in: <%= booking.move_in.strftime("%d.%B %Y") %></li>
                <li>move out: <%= booking.move_out.strftime("%d.%B %Y") %></li>
              <% end %>
              <li>Phone: <%= user.phone_code %> <%= user.phone_number %></li>
              <li>moves in <%= user.amount_of_people == 1 ? 'alone' : 'as a couple' %></li>
              <li>Prefered Suites: <%= user.prefered_suite.join(', ') %></li>
              <li>Job: <%= user.job %></li>
              <% if user.gender.present? %>
                <li>Gender: <%= user.gender %></li>
              <% end %>
              <% unless (address = user.address).nil? %>
                <li>Address: <%= address.street %>, <%= address.zipcode %> <%= address.city %>, <%= address.country %></li>
              <% end %>
              <% if user.social_links.present? %>
                <% user.social_links.each do |link| %>
                  <li><%= link.name.capitalize %>: <%= link_to link.url, link.url, target: :_blank %></li>
                <% end %>
              <% end %>
              <li>Booking Id: <%= booking.id %></li>
              <li>Applied on the <%= user.created_at.strftime("%d.%B %Y") %></li>
            </ul>
          </div>
        </div>
      <% end %>
      <p class="list-end">You´ve reached the end of the list</p>
    </div>
  </div>
</div>
