<%= render 'shared/navbar' %>

<div class="applicant-overview-container">
  <h3>Currently we have <%= User.all.where(applicant: true).count %> applicants</h3>
  <%= link_to 'Delete old and create new STACEY Users Spreadsheet', applicants_spreadsheet_path %>
  <%#= link_to 'Download as Excel', applicants_index_path(format: :xlsx) %>
  <table class="applicant-overview-table">
    <tr class="row">
      <th class="col">Name</th>
      <th class="col">Email</th>
      <th class="col">Phone</th>
      <th class="col">Sent Payment Link</th>
      <th class="col">Delete</th>
    </tr>
    <% @users.each do |user| %>
      <tr class="row">
        <td class="col"><%= user.first_name %> <%= user.last_name %></td>
        <td class="col"><%= user.email %></td>
        <td class="col"><%= user.phone %></td>
        <% if !user.authentity_token_contract.present? %>
          <td class="col"><%= link_to 'Contract', users_send_invitation_for_contract_pages_path(user: user.id), method: :post %></td>
        <% else %>
          <td class="col"><%= link_to 'Contract again', users_send_invitation_for_contract_pages_path(user: user.id), method: :post %></td>
        <% end %>
        <td class="col"><%= link_to 'delete', user, :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
