<div class="booking-form-wrapper">
  <div class="booking-form-section">
    <%= simple_form_for(booking) do |f| %>
      <div class="form-group">
        <%= f.label :move_in, label: 'WHEN DO YOU WANT TO MOVE IN?' %>
        <div class="rooms_availabilities check-boxes only-one-box">
          <% room_availability.each_with_index do |(room, availability), index| %>
            <div class="one-availability">
              <% if index == 0 %>
                <%= f.check_box :move_in, id: "move-in#{index}", value: availability, checked: true %>
              <% else %>
                <%= f.check_box :move_in, id: "", value: availability, checked: false %>
              <% end %>
              <span><%= availability %></span>
            </div>
          <% end %>
        </div>
      </div>
      <%#= f.label 'WHEN DO YOU WANT TO MOVE IN?' %>
      <%# room_availability.each do |room_id, availability| %>
        <!-- <p><%#= room_id %> is available on the <%#= availability %></p> -->
      <%# end %>
      <%= f.input :move_in, as: :date, order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year + 1, value: room_availability.keys.first, label: 'WHEN DO YOU WANT TO MOVE IN?', wrapper_html: {class: 'd-none'} %>
      <%= f.input :move_out, as: :date, order: [:day, :month, :year], start_year: (Date.today + 3.months).year, end_year: (Date.today + 3.months).year + 1, selected: room_availability.values.first.to_date + 3.months, label: 'UNTIL WHEN ARE YOU PLANING TO STAY?' %>
      <%#= f.hidden_field :move_in, class: 'hidden-move-in', value: room_availability.values.first %>
      <%= f.button :button, 'BOOK', type: 'submit', name: 'room', value: room_availability.keys.first, class: 'stacey-button reverse-hover book-button d-none', disabled: true %>
      <div class="stacey-button reverse-hover book-button" id="book-button-overlay">BOOK</div>
      <%#= f.submit 'BOOK', value: room, class: 'stacey-button reverse-hover book-button' %>
    <% end %>

  </div>
  <div class="booking-form-section pricing">
    <div class="info-field">
      <!-- this must be the rent of the month -->
      <span class="header">rent per month</span>
      <span class="content">€ 800 per Month</span>
    </div>
    <div class="info-field">
      <span class="header">refundable deposit</span>
      <span class="content">1 monthly rent</span>
    </div>
  </div>
</div>
