<div class="booking-form-wrapper">
  <div class="booking-form-section">
    <% if project.name == 'Eppendorf' && ['Premium', 'Premium+'].include?(roomtype.name) %>
      <% room_with_balcony = project.roomtypes.find_by(name: "#{roomtype.name} (balcony)") %>
      <div class="info-position">
        <div class="info-field-wrapper">
          <div class="info-on-hover"><i class="fas fa-info"></i></div>
          <div class="info-field-container info d-none">
            <span>Prices start at <%= room_with_balcony.prices.last.amount.to_i %>€</span>
          </div>
        </div>
        <%= link_to 'This room with balcony', booking_process_path(@booking, @booking.booking_auth_token, 'room', roomtype_id: room_with_balcony.id) %>
      </div>
    <% elsif with_balcony %>
      <div class="info-position">
        <div class="info-field-wrapper">
          <div class="info-on-hover"><i class="fas fa-info"></i></div>
          <div class="info-field-container info d-none">
            <span>Prices start at <%= @roomtype_without_balcony.prices.last.amount.to_i %>€</span>
          </div>
        </div>
        <%= link_to 'This room without balcony', booking_process_path(@booking, @booking.booking_auth_token, 'room', roomtype_id: @roomtype_without_balcony.id) %>
      </div>
    <% end %>
    <%= simple_form_for booking, method: :put, url: wizard_path do |f| %>
      <%= f.hidden_field :move_in, value: room_availability.first[1].to_date %>
      <div class="form-group">
        <%= f.label :move_in, label: 'WHEN DO YOU WANT TO MOVE IN?' %>
        <%= f.select(:room_id, room_availability.map { |id, time| [time, id] }, {selected: room_availability.first}, {class: 'form-control'}) %>
      </div>
      <%= f.input :move_out, as: :string, placeholder: 'Select Date…', input_html: { class: 'datepicker', id: 'move_out_flatpickr' } %>
      <%#= f.input :move_out, as: :string, order: [:day, :month, :year], start_year: (Date.today + 3.months).year, end_year: (Date.today + 3.months).year + 1, selected: room_availability.values.first.to_date + 3.months, label: 'UNTIL WHEN ARE YOU PLANING TO STAY?', input_html: {class: 'move_out_booking_form datepicker', id: 'date'} %>
      <%= f.submit 'BOOK', class: 'stacey-button reverse-hover book-button' %>
    <% end %>
  </div>
  <div class="booking-form-section pricing">
    <div class="info-field">
      <!-- this must be the rent of the month -->
      <span class="header">rent per month</span>
      <div class="d-none" id="all-prices">
        <% roomtype.prices.each do |price| %>
          <li><%= price.amount % 1 == 0 ? price.amount.to_i : price.amount %> €</li>
        <% end %>
      </div>
      <span class="content" id="booking-price"><%= roomtype.prices.first.amount % 1 == 0 ? roomtype.prices.first.amount.to_i : roomtype.prices.first.amount %> €</span>
    </div>
    <div class="info-field">
      <span class="header">refundable deposit</span>
      <span class="content">2 month rent</span>
    </div>
  </div>
</div>
<!--

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
 -->
