<div class="footer-wrapper">
  <div class="footer-container">
    <div class="project-header">
      <%= image_tag "stacey-favicon-weiss.png" %>
      <p class="arrow">></p>
      <p><%= flat.project_name %></p>
    </div>
    <div class="project-infos">
      <p><%= flat.street %></p>
      <p><%= flat.city %></p>
      <p><%= flat.zipcode %></p>
    </div>
    <p>Tel: <%= link_to '+49 40 606389600', "tel: +4940606389600", class: "phone" %></p>
  </div>
</div>

<!-- <p>Breitengrad: 53.5841047</p>
<p>Längengrad: 9.979218</p>
 -->
