<% users_last_booking = user.bookings.last %>
<table class="user-info">
  <tr>
    <td>Email:</td>
    <td><%= mail_to user.email %></td>
  </tr>
  <tr>
    <td>Move in:</td>
    <td><%= users_last_booking.move_in.strftime('%d. %B %Y') %></td>
  </tr>
  <tr>
    <td>Move out:</td>
    <td><%= users_last_booking.move_out.strftime('%d. %B %Y') %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= user.phone_code %> <%= user.phone_number %></td>
  </tr>
  <tr>
    <td>Prefered Suites:</td>
    <td>
      <% user.prefered_suites[0...-1].each do |suite| %>
        <%= suite.roomtype.name %>,
      <% end %>
      <% last_prefered_suite = user.prefered_suites.last %>
      <%= last_prefered_suite.roomtype.name %>
    </td>
  </tr>
  <tr>
    <td>Amount of People:</td>
    <td><%= user.amount_of_people %></td>
  </tr>
  <tr>
    <td>Job:</td>
    <td><%= user.job %></td>
  </tr>
  <tr>
    <td>Date of birth:</td>
    <td><%= user.dob.strftime('%d. %B %Y') %></td>
  </tr>
  <% if (gender = user.gender).present? %>
    <tr>
      <td>Gender:</td>
      <td><%= gender %></td>
    </tr>
  <% end %>
  <% if (social_links = user.social_links).present? %>
    <tr>
      <td>Social Media:</td>
      <td>
        <% user.social_links[0...-1].each do |link| %>
          <%= link.name.capitalize %>: <%= link_to "#{link.name}", link.url, target: :_blank %>,
        <% end %>
        <% last_social_link = user.social_links.last %>
        <%= last_social_link.name.capitalize %>: <%= link_to "#{last_social_link.name}", last_social_link.url, target: :_blank %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Applied of the:</td>
    <td><%= user.created_at.strftime('%d. %B %Y') %></td>
  </tr>
</table>
