<div class="navbar-stacey-container">
  <div class="navbar-stacey">
    <!-- Logo -->
    <%= link_to "http://www.stacey-living.de", class: "navbar-stacey-brand" do %>
      <%= image_tag "stacey-logo-weiss.png" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-stacey-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to "Home", "http://www.stacey-living.de", class: "navbar-stacey-item navbar-stacey-link" %>
        <%= link_to "STACEY Apartments", "http://www.stacey-living.de/apartments", class: "navbar-stacey-item navbar-stacey-link" %>
        <%= link_to "Interested?", root_path, class: "navbar-stacey-item navbar-stacey-link interested" %>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-stacey-item">
          <div class="dropdown">
            <% if current_user.photo.present? %>
              <%= image_tag current_user.photo.url(:bright_face), class: "avatar dropdown-toggle", id: "navbar-stacey-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <div class="avatar-placeholder avatar dropdown-toggle" id="navbar-stacey-menu" data-toggle="dropdown" >
                <p><%= current_user.first_name[0] %> <%= current_user.last_name[0] %></p>
              </div>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-stacey-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "My Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
      <!-- Login link (when logged out) -->
        <%= link_to "Home", "http://www.stacey-living.de", class: "navbar-stacey-item navbar-stacey-link" %>
        <%= link_to "Community", "http://www.stacey-living.de/community", class: "navbar-stacey-item navbar-stacey-link" %>
        <%= link_to "Vision", "http://www.stacey-living.de/vision", class: "navbar-stacey-item navbar-stacey-link" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-stacey-item navbar-stacey-link interested" %>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-stacey-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-stacey-dropdown-menu">
          <li><%= link_to "Community", "http://www.stacey-living.de/community", class: "navbar-stacey-item navbar-stacey-link" %></li>
          <li><%= link_to "Vision", "http://www.stacey-living.de/vision", class: "navbar-stacey-item navbar-stacey-link" %></li>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-stacey-item navbar-stacey-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

