<div class="projects-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
  <h1>STACEY <%= flat.project_name %></h1>
    <div class="projects-street">
      <div class="line"></div>
      <h3><%= flat.street %> <%= flat.house_number %></h3>
      <div class="line"></div>
    </div>
    <div class="projects-street">
      <h3><%= flat.zipcode %>, <%= flat.city %></h3>
    </div>
</div>
<div class="projects-sentence-container">
  <div class="projects-sentence">
    <% if flat.project_name == 'Eppendorf' %>
      <p>A beautiful neighborhood in central Hamburg; everything is here. Find local shops, restaurants and bars nearby. Our community in Eppendorf is just as energetic as the neighborhood.</p>
    <% else %>
      <p>A microcosm of the world; everything is in Mühlenkamp. Find every culture, industry, and opportunity in this juvenile neighborhood. Our community in Mühlenkamp is the newest addition to STACEYs coliving network.</p>
    <% end %>
  </div>
</div>

