<%= simple_form_for(user, html: { class: 'apply-form' }) do |f| %>
  <%= f.input :first_name, label: 'FIRST NAME', placeholder: 'MAX', wrapper_html:{ class: 'apply-field'} %>

  <%= f.input :last_name, label: 'LAST NAME', placeholder: 'MUSTERMANN', wrapper_html:{ class: 'apply-field'} %>

  <%= f.input :email, label: 'EMAIL', placeholder: 'MAX@GMAIL.DE', wrapper_html:{ class: 'apply-field'} %>

  <div class="apply-field d-flex">
    <%= f.input :phone_code, label: 'CODE', collection: @phone_code, selected: '+49', wrapper_html:{ class: 'phone code'} %>

    <%= f.input :phone_number, label: 'PHONENUMBER', placeholder: '1682857925', wrapper_html:{ class: 'phone number'} %>
  </div>

  <%= f.input :dob, as: :date, order: [:day, :month, :year], start_year: Date.today.year - 70, end_year: Date.today.year - 18, selected: 22.years.ago, label: 'WHEN WERE YOU BORN?', wrapper_html:{ class: 'apply-field'} %>

  <%= f.input :job, label: 'WHAT DO YOU DO FOR LIVING?', placeholder: 'YOUR JOB TITLE', wrapper_html:{ class: 'apply-field'} %>

  <%= f.simple_fields_for :bookings do |b| %>
    <%= b.input :move_in, as: :date, order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year + 1, label: 'WHEN DO YOU WANT TO MOVE IN?', wrapper_html:{ class: 'apply-field'} %>
    <%= b.input :move_out, as: :date, order: [:day, :month, :year], start_year: (Date.today + 3.months).year, end_year: (Date.today + 3.months).year + 1, selected: (Date.today + 3.months), label: 'UNTIL WHEN ARE YOU PLANING TO STAY?', wrapper_html:{ class: 'apply-field'} %>
    <% if user.errors[:bookings_attributes].any? %>
      <div class="invalid-feedback d-block duration"><%= user.errors[:bookings_attributes].first %></div>
    <% end %>
  <% end %>

  <div class="apply-field">
    <%= f.label :gender, label: 'WHAT IS YOUR GENDER?' %>
    <div class="check-boxes only-one-box"><%= f.collection_check_boxes :gender, [['Male'], ['Female'], ['Other']], :first, :first, multiple: false %></div>
    <% if user.errors[:gender].any? %>
      <div class="invalid-feedback d-block"><%= user.errors[:gender].first %></div>
    <% end %>
  </div>

  <div class="apply-field">
    <%= f.label :prefered_suite, 'WHAT SUITE DO YOU PREFER?' %>
    <div class="check-boxes"><%= f.collection_check_boxes :prefered_suite, [['Mighty'], ['Premium'], ['Jumbo']], :first, :last, checked: false %></div>
    <% if user.errors[:prefered_suite].any? %>
      <div class="invalid-feedback d-block"><%= user.errors[:prefered_suite].first %></div>
    <% end %>
  </div>

  <div class="apply-field info-position">
    <div class="d-flex">
      <%= f.label :amount_of_people, 'AS A COUPLE?' %>
      <div class="info-field-wrapper">
        <div class="info-on-hover"><i class="fas fa-info"></i></div>
        <div class="info-field-container info d-none">
          <span>Couples can only move in to our jumbo suites.</span>
        </div>
      </div>
    </div>
    <%= f.input :amount_of_people, as: :select, collection: [['NO', 1]], selected: 1, include_blank: false, label: false %>
  </div>

  <div class="social-media apply-field">
    <%= f.label :social_media, 'SHARE MORE ABOUT YOU' %>
    <div class="check-boxes">
      <i class="fab fa-linkedin social-media-icon linkedin" aria-hidden="true"></i>
      <i class="fab fa-twitter social-media-icon twitter" aria-hidden="true"></i>
      <i class="fab fa-instagram social-media-icon instagram" aria-hidden="true"></i>
      <i class="fab fa-facebook social-media-icon facebook" aria-hidden="true"></i>
    </div>
    <%= f.input :linkedin, label: false, placeholder: 'ARE YOU ON LINKEDIN?', wrapper_html: { class: 'd-none social-media-input' } %>
    <%= f.input :twitter, label: false, placeholder: 'ARE YOU ON TWITTER?', wrapper_html: { class: 'd-none social-media-input' } %>
    <%= f.input :instagram, label: false, placeholder: 'ARE YOU ON INSTAGRAM?', wrapper_html: { class: 'd-none social-media-input' } %>
    <%= f.input :facebook, label: false, placeholder: 'ARE YOU ON FACEBOOK?', wrapper_html: { class: 'd-none social-media-input' } %>
  </div>

  <div class="form-action">
    <%= f.submit 'APPLY', class: 'stacey-button apply-button' %>
  </div>
<% end %>
