<%= render 'shared/three_steps_navbar', step: 1 %>
<div class="cards-wrapper">
  <div class="project-choose">
    <h2>Where do you want to live next?</h2>
  </div>
  <div class="cards-container">
    <%# 8.times do %>
    <% @projects.each_with_index do |project, index| %>
      <div class="stacey-card flat-card">
        <%= render 'shared/carousel', pictures: project.photos, carousel_id: "project#{project.id}", no_lightbox_button: false, no_buttons: true %>
        <div class="stacey-card-header">
          <div class="name">
            <span>STACEY</span>
            <span><%= project.name %></span>
          </div>
          <span class="price">from €<%= project.roomtypes.find_by(name: 'Mighty').price[0].to_i  %></span>
        </div>
        <%= render 'shared/amenities', amenities: project.amenities %>
        <!-- <div class="amenities">
          <span class="amenity">Furnished</span>
          <span class="amenity">Wifi</span>
          <span class="amenity">Speakers</span>
          <span class="amenity">Work Spaces</span>
          <span class="amenity">Cleaning</span>
          <span class="amenity">Netflix</span>
          <span class="amenity">Kitchen</span>
          <span class="amenity">Tabletennis</span>
        </div> -->
        <%= link_to "Explore", booking_project_roomtypes_path(@booking.booking_auth_token, @booking, project), class: 'stacey-card-button stacey-button reverse-hover' %>
      </div>
    <% end %>
    <%# end %>
  </div>
</div>
<% if current_user.present? && current_user.admin? %>
  <%= link_to 'Create new Flat', new_project_path, class: "stacey-button" %>
<% end %>

<%= render 'shared/footer' %>
