<h1 style="padding-top: 50px">Create a new Project please</h1>
<%= simple_form_for(@project) do |f| %>
  <%= f.input :name, label: 'Name of Project' %>
  <%= f.input :street %>
  <%= f.input :house_number %>
  <%= f.input :zipcode %>
  <%= f.input :city %>
  <%= f.input :description, label: 'Please describe this Project' %>
  <div class="form-group" id="img_prev">
    <!-- <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail d-none"/> <br/> -->
    <span class="btn btn-default btn-file">
      Upload Images for this project <%= f.file_field :pictures, multiple: true, id: "picture-upload" %>
    </span>
    <%= f.hidden_field :pictures, multiple: true %>
  </div>
  <%= f.submit %>
<% end %>
