<div class="log-in-wrapper" style="background-image: url( <%=image_path('https://res.cloudinary.com/dvuqwvjay/image/upload/v1550311240/patrick-perkins-340019-unsplash-min_1.jpg')%>);">
  <div class="log-in-container">
    <div class="logo-container">
      <%= image_tag "stacey-logo.png" %>
    </div>
    <div class="log-in-input-fields-wrapper">
      <div class="log-in-fields">
        <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
          <div class="form-inputs">
            <%= devise_error_messages! %>
            <%= f.hidden_field :invitation_token %>

            <%= f.input :password %>
            <%= f.input :password_confirmation %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Set your password", class: "stacey-button set-password-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
