<div class="booking-summary-wrapper">
  <div class="payment-section-header">
    <div class="header">
      <i class="fas fa-lock"></i>
      <span>SecurePayment</span>
    </div>
    <div class="icons">
      <i class="fab fa-cc-amex"></i>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
    </div>
  </div>
  <div class="booking-summary-container payment-section">
    <h3 class="booking-summary-header add-margin-bottom-to-header">Booking Summary</h3>
    <div class="summary-section">
      <div class="summary-item">
        <span class="category">Room Category</span>
        <span><%= booking.room_attribute.roomtype.name %></span>
      </div>
      <div class="summary-item">
        <span class="category">Move-in</span>
        <span><%= booking.move_in.strftime('%d.%m %Y') %></span>
      </div>
      <div class="summary-item">
        <span class="category">Move-out</span>
        <span><%= booking.move_out.strftime('%d.%m %Y') %></span>
      </div>
      <div class="summary-item">
        <span class="category">Duration of your stay</span>
        <span>100 Days</span>
      </div>
    </div>
    <div class="summary-section">
      <p class="section-header">Monthly Costs</p>
      <div class="summary-item">
        <span class="category">All-inclusive Monthly Rent</span>
        <span><%= @price % 1 == 0 ? "#{@price.to_i} €" : "#{@price.to_i} €" %></span>
      </div>
    </div>
    <div class="summary-section">
      <p class="section-header">Total Today</p>
      <div class="summary-item">
        <span class="category">Booking Fee</span>
        <span><%= @booking_fee %> €</span>
      </div>
      <div class="summary-item">
        <span class="category">Deposit</span>
        <span><%= @price * 2 % 1 == 0 ? "#{@price.to_i * 2} €" : "#{@price * 2} €" %></span>
      </div>
      <div class="summary-item">
        <span class="category"><strong>Total</strong></span>
        <span><%= @total_today * 2 % 1 == 0 ? "#{@total_today.to_i} €" : "#{@total_today} €" %></span>
      </div>
    </div>
  </div>
</div>
