<%= render 'shared/three_steps_navbar', step: 1 %> <!-- must be step 1 because choosing Project doesn´t count -->
<!-- this must be the banner of projects pictures -->
<%= render 'shared/carousel', pictures: @rooms.first.project.pictures %>
<!-- the quote -->

<div class="project-short-description">  <!-- should actually be @project.short-description -->
  A beautiful neighborhood in central Hamburg; everything is here. Find local shops, restaurants and bars nearby. Our community in Eppendorf is just as energetic as the neighborhood.
</div>
<div class="cards-wrapper">
  <div class="cards-container">
    <%# 6.times do %>
    <% @rooms.each do |room| %>
      <div class="stacey-card" id='room-card'>
        <%= render 'shared/carousel', pictures: room.pictures %>
        <div class="stacey-card-header">
          <span class="name"><%= room.name.titleize %> Suite</span>
          <div class="price">
            <span class="small">from</span>
            <span>800 €</span> <!-- room.price[0] -->
          </div>
        </div>
        <%= render 'shared/amenities', amenities: room.amenities %>
        <%= link_to "explore #{room.name}", booking_project_room_path(@booking.booking_auth_token, @booking, room.project, room), class: 'stacey-card-button stacey-button' %>
      </div>
    <% end %>
    <%# end %>
  </div>
</div>
<% if current_user.present? && current_user.admin? %>
  <%= link_to 'Create new Room', new_project_room_path, class: "stacey-button" %>
<% end %>

<%= render 'shared/footer' %>
