<div class="three-steps-navbar">
  <div class="three-steps-container">
    <div class="ring active">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <%= link_to 'Call us on +49 40 606389600', "tel: +4940606389600" %>
  </div>
</div>
<%= render 'shared/projects_banner', flat: @flat %>
<div class="room-cards-list-wrapper">
  <div class="room-card-wrapper">
    <% @rooms.each do |room| %>
      <%= render 'shared/room_cards', flat: @flat, room: room, link: "/users/#{@user.id}/flats/#{@flat.id}/rooms/#{room.id}/#{@authentity_token_contract}" %>
    <% end %>
    <%#= render 'shared/rooms_detail_popup', room: Room.first %>
  </div>
</div>
<div class="contract-page-quote">
  <p>”ALONE WE CAN DO SO LITTLE;</p>
  <p>TOGETHER WE CAN DO SO MUCH”</p>
  <p class="quote-name">Helen Keller</p>
</div>
<% if current_user.admin? %>
  <%= link_to 'Create new Room', new_flat_room_path, class: "stacey-button" %>
<% end %>

<%#= render 'shared/community_area' %>
<%= render 'shared/contract_footer', flat: @flat %>
