<h1 style="padding-top: 50px">Create a new Room please</h1>
<%= simple_form_for [@flat, @room] do |f| %>
  <%= f.input :art_of_room %>
  <%= f.input :price, as: :array, label: 'price for 3-5 Months' %>
  <%= f.input :price, as: :array, label: 'price for 6-8 Months' %>
  <%= f.input :price, as: :array, label: 'price for 9+ Months' %>
  <%= f.submit %>
<% end %>
