<h1 style="padding-top: 50px">Create a new Room please</h1>
<!-- have to know how many of these rooms must be created -->
<!-- how many?  and then render as many input fieds for  -->
<%= simple_form_for(@room) do |f| %>
  <%= f.input :number, label: 'What´s the roomnumber?' %>
  <%= f.input :name, label: 'Art of Room' %>
  <%= f.input :size %>
  <%= f.input :description, label: 'Please describe this Project' %>
  <%= f.input :price, as: :array, label: 'price for 3-5 Months' %>
  <%= f.input :price, as: :array, label: 'price for 6-8 Months' %>
  <%= f.input :price, as: :array, label: 'price for 9+ Months' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.input :amenities, as: :array, label: 'Amentity' %>
  <%= f.label :pictures %>
  <%= f.file_field :pictures, multiple: true %>
  <%= f.submit 'create Room' %>
<% end %>
