<h1 style="padding-top: 50px">Create a new Room please</h1>
<%= simple_form_for [@flat, @room] do |f| %>
  <%= f.input :art_of_room %>
  <%= f.input :price, as: :array, label: 'cheapest price' %>
  <%= f.input :price, as: :array %>
  <%= f.input :price, as: :array, label: 'most expensive price' %>
  <%= f.input :deposit, as: :array, label: 'lowest deposit' %>
  <%= f.input :deposit, as: :array %>
  <%= f.input :deposit, as: :array, label: 'highest deposit' %>
  <%= f.input :balcony %>
  <%= f.input :description, label: 'Please describe this Room' %>
  <%= f.submit %>
<% end %>
