<%= render 'shared/three_step_rings' %>
<div class="room-photo" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
  <p style="color: white; font-size: 26px;">Room show page</p>
</div>
<div class="details-wrapper">
  <div class="booking-form-container">
    <div class="booking-form">
      <%= simple_form_for [@applicant], method: :post, route: flat_room_bookings_path(@flat, @room, @booking) do |f| %>
        <%= f.input :duration_of_stay, collection: ["3 Months", "4 Months", "5 Months", "6 Months", "7 Months", "8 Months", "9 Months", "9+ Months"] %>
        <%= f.input :move_in_date %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="info-field rent">
      <p>Rent per Month</p>
      <p>€ 800 per Month</p>
    </div>
    <div class="info-field deposit">
      <p>Refundable Deposit</p>
      <p>€ 1.600</p>
    </div>
  </div>
  <div class="details-container">
    <div class="room-infos">
      <div class="room-infos-header">
        <% if @room.balcony? %>
          <p><%= @room.art_of_room %> (+ Balcony)</p>
        <% else %>
          <p><%= @room.art_of_room %></p>
        <% end %>

      </div>
      <div class="room-infos-services">
        <p>Fully Furnished</p>
        <p>Weekly Cleaning</p>
        <p>Queen Size Bed</p>
        <p>Free Onsite Laundry</p>
        <p>High Speed Wifi</p>
        <p>1 Person</p>
      </div>
    </div>
    <div class="about-this-room">
      <div class="text">
        <p>Our Private Suites are fully equipped with a comfy queen-size bed, bedding and bed linen, desk and desk chair, leather armchair, ample storage and of course, free wi-fi. Cosy, thoughtfully-designed and all yours.</p>
        <p>For the days you want to kick back and relax, the private spaces offers the perfect save haven if you need some time for yourself.</p>
        <p>Rooms start from € 800 per month.</p>
      </div>
      <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai'); width: 650px; height: 450px;">
      </div>
    </div>
    <div class="about-this-project">
      <div class="text">
        <p>At  STACEY we believe that beautifully designed spaces bring people together. Whether you’re looking to mingle with new people, get creative in the kitchen or open yourself up to new experiences, our Eppendorf location can give you all this and more.</p>
        <p>From the work space, communal kitchen and living room to the pool table, your passion points will be catered for. Not to mention the monthly exclusive member events!</p>
      </div>
      <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai'); width: 650px; height: 450px;">
      </div>
    </div>
    <div class="about-co-living">
      <div class="text">
        <p>We have developed a new way of living in cities that focuses on community and convenience. Our members have their own private rooms whilst also sharing beautiful spaces and having access to thought-provoking events, all designed to bring people together.</p>
        <p>Everything you need to make the most of city life is included in one convenient payment: rent, superfast internet, all utilities and taxes, room cleaning, monthly events and included Netflix & Spotify.</p>
        <p>Don’t just take our word for it, though, come and see it for yourself.</p>
      </div>
    </div>
  </div>
</div>

