<div class="three-steps-navbar">
  <div class="go-back-button">
    <p>< Go Back</p>
  </div>
  <div class="three-steps-container">
    <div class="ring active">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <%= link_to 'Call us on +49 40 606389600', "tel: +4940606389600" %>
  </div>
</div>
<div class="room-photo" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
</div>
<div class="details-wrapper">
  <%= render 'shared/booking_form', flat: @flat, room: @room, user: @user, booking: @booking, authentity_token_contract: @authentity_token_contract, contract: @contract %>
  <div class="details-container">
    <div class="room-infos section">
      <div class="room-infos-header">
        <% if @room.balcony? %>
          <h3><%= @room.art_of_room %></h3><h3 class="balcony">(+ Balcony)</h3>
        <% else %>
          <h3><%= @room.art_of_room %></h3>
        <% end %>
      </div>
      <div class="room-infos-services">
        <div class="detail">
          <i class="fas fa-couch"></i>
          <p>Fully Furnished</p>
        </div>
        <div class="detail">
          <i class="fas fa-broom"></i>
          <p>Weekly Cleaning</p>
        </div>
        <div class="detail">
          <i class="fas fa-bed"></i>
          <p>Queen Size Bed</p>
        </div>
        <div class="detail">
          <i class="fas fa-lock-open"></i>
          <p>Smart Lock</p>
        </div>
        <div class="detail">
          <i class="fas fa-wifi"></i>
          <p>High Speed Wifi</p>
        </div>
        <div class="detail">
          <i class="fas fa-user"></i>
          <p>1 Person</p>
        </div>
      </div>
    </div>
    <div class="about-this-room section">
      <div class="header">
        <h3>About this suite</h3>
      </div>
      <div class="text">
        <p>Our Private Suites are fully equipped with a comfy queen-size bed, bedding and bed linen, desk and desk chair, leather armchair, ample storage and of course, free wi-fi. Cosy, thoughtfully-designed and all yours.</p>
        <p>For the days you want to kick back and relax, the private spaces offers the perfect save haven if you need some time for yourself.</p>
        <p>Rooms start from € 800 per month.</p>
      </div>
      <div class="photo">
        <%= image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1554202321/floorplan_placeholder.png' %>
      </div>
    </div>
    <div class="about-this-project section">
      <div class="header">
        <h3>About the STACEY <%= @flat.project_name %> location</h3>
      </div>
      <div class="text">
        <p>At  STACEY we believe that beautifully designed spaces bring people together. Whether you’re looking to mingle with new people, get creative in the kitchen or open yourself up to new experiences, our Eppendorf location can give you all this and more.</p>
        <p>From the work space, communal kitchen and living room to the pool table, your passion points will be catered for. Not to mention the monthly exclusive member events!</p>
      </div>
      <div class="photo">
        <%= image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg' %>
      </div>
    </div>
    <div class="about-co-living section">
      <div class="header">
        <h3>What is the Co-Living buzz all about?</h3>
      </div>
      <div class="text">
        <p>We have developed a new way of living in cities that focuses on community and convenience. Our members have their own private rooms whilst also sharing beautiful spaces and having access to thought-provoking events, all designed to bring people together.</p>
        <p>Everything you need to make the most of city life is included in one convenient payment: rent, superfast internet, all utilities and taxes, room cleaning, monthly events and included Netflix & Spotify.</p>
        <p>Don’t just take our word for it, though, come and see it for yourself.</p>
      </div>
    </div>
  </div>
</div>
