<div class="three-steps-navbar">
  <div class="go-back-button">
    <p>< Go Back</p>
  </div>
  <div class="three-steps-container">
    <div class="ring active">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <%= link_to 'Call us on +49 40 606389600', "tel: +4940606389600" %>
  </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="room-photo" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
      </div>
    </div>
    <div class="item">
      <div class="room-photo" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
      </div>
    </div>
    <div class="item">
      <div class="room-photo" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E); width: 20px; height: 20px"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="details-wrapper">
  <%= render 'shared/booking_form', flat: @flat, room: @room, user: @user, booking: @booking, authentity_token_contract: @authentity_token_contract, contract: @contract %>
  <div class="details-container">
    <div class="room-infos section">
      <div class="room-infos-header">
        <h3><%= @room.art_of_room %></h3>
      </div>
      <div class="room-infos-services">
        <div class="detail">
          <i class="fas fa-couch"></i>
          <p>Fully Furnished</p>
        </div>
        <div class="detail">
          <i class="fas fa-broom"></i>
          <p>Weekly Cleaning</p>
        </div>
        <div class="detail">
          <i class="fas fa-bed"></i>
          <p>Queen Size Bed</p>
        </div>
        <div class="detail">
          <i class="fas fa-lock-open"></i>
          <p>Smart Lock</p>
        </div>
        <div class="detail">
          <i class="fas fa-wifi"></i>
          <p>High Speed Wifi</p>
        </div>
        <div class="detail">
          <i class="fas fa-user"></i>
          <p>1 Person</p>
        </div>
      </div>
    </div>
    <div class="about-this-room section">
      <div class="header">
        <h3>The Suite</h3>
      </div>
      <div class="text">
        <% if @room.art_of_room == 'Basic' || @room.art_of_room == 'Mighty' %>
          <p>Scandinavian minimalism in the heart of Hamburg. Our Mighty Suites are our flagship with regard to modern living. A comfy double bed, side table, armchair, floor lamp, closet, hangers, artwork & even bedding are included.</p>
        <% elsif @room.art_of_room == 'Premium' %>
          <p>Live like a Queen! Our Premium Suites fulfill all essential needs and even provides you with private space to work within a location that is focused on community. This category features a comfy double bed, side table, desk & chair, armchair, floor lamp, closet, hangers, artwork & even bedding.</p>
        <% elsif @room.art_of_room == 'Premium plus' %>
          <p> Live like a King! The Premium+ Suite is the bigger brother of our Premium Suites. With additional sqm for you and and all your thoughts. This category features a comfy double bed, side table, desk & chair, armchair, floor lamp, closet, hangers, artwork & even bedding.</p>
        <% elsif @room.art_of_room == 'Premium plus' %>
          <p>Live like a King! The Premium+ Suite is the bigger brother of our Premium Suites. With additional sqm for you and and all your thoughts. This category features a comfy double bed, side table, desk & chair, armchair, floor lamp, closet, hangers, artwork & even bedding.</p>
        <% elsif @room.art_of_room == 'Jumbo' %>
          <p>Screw the minimalism. Your dream of your own walk-in closet becomes reality. Our Jumbo suites feature 25m<sup>2</sup> designed for your needs with a queen-size bed, walk-in closet, desk, armchair, floor lamp, hangers, artwork and even bedding.</p>
        <% end %>
      </div>
      <div class="photo">
        <%= image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1554202321/floorplan_placeholder.png' %>
      </div>
    </div>
    <div class="about-this-project section">
      <div class="header">
        <h3>The Location</h3>
      </div>
      <div class="text">
        <% if @flat.project_name == 'Mühlenkamp' %>
          <p>At  STACEY we believe that beautifully designed spaces bring people together. Whether you’re looking to mingle with new people, get creative in the kitchen or open yourself up to new experiences, our Eppendorf location can give you all this and more.</p>
          <p>From the great living room and the shared kitchen to our beautiful terrace with a barbecue, your passion points will be catered for. Not to mention the included monthly member events!</p>
        <% end %>
      </div>
      <div class="photo">
        <%= image_tag 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg' %>
      </div>
    </div>
    <div class="about-co-living section">
      <div class="header">
        <h3>What Is The Coliving Buzz All About?</h3>
      </div>
      <div class="text">
        <p>Our members enjoy their individual private suites whilst sharing beautiful common spaces</p>
        <p>Everything you need is included in one convenient payment (except GEZ): Rent, furniture, internet, utilities, cleaning, events & Netflix + Spotify in the common spaces.</p>
        <p>Do not take our word for granted, move in and experience the STACEY way of living!</p>
      </div>
    </div>
  </div>
</div>
