<div>
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, '#', class: 'remove_room' %>
  <%= f.input_field :id, as: :hidden %>
  <%= f.input :name %>
  <%= f.input :size %>
  <div class="form-group img_prev">
    <%= f.label :photos, 'Upload project images' %>
    <div class="pictures d-flex"></div>
    <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, class: 'picture-upload' } %>
  </div>
  <%= f.simple_fields_for :prices do |prices| %>
    <%= prices.input_field :id, as: :hidden %>
    <%= prices.input :duration %>
    <%= prices.input :amount %>
  <% end %>
  <%= f.simple_fields_for :descriptions do |room_description| %>
    <%= room_description.input_field :id, as: :hidden %>
    <%= room_description.input :field %>
    <%= room_description.input :content %>
  <% end %>
  <div class="project-amenities-wrapper amenity-wrapper">
    <%= f.label :join_amenities, 'Roomtype Index Inventory' %>
    <%= f.simple_fields_for :join_amenities do |ja| %>
      <% if ja.object.name == 'roomtype index inventory' %>
        <%= render 'amenity_fields', f: ja %>
      <% end %>
    <% end %>
  </div>
  <div class="project-amenities-wrapper amenity-wrapper">
    <%= f.label :join_amenities, 'Roomtype Index Inclusion' %>
    <%= f.simple_fields_for :join_amenities do |ja| %>
      <% if ja.object.name == 'roomtype index inclusion' %>
        <%= render 'amenity_fields', f: ja %>
      <% end %>
    <% end %>
  </div>
  <div class="project-amenities-wrapper amenity-wrapper">
    <%= f.label :join_amenities, 'PRoomtype Show' %>
    <%= f.simple_fields_for :join_amenities do |ja| %>
      <% if ja.object.name == 'roomtype show' %>
        <%= render 'amenity_fields', f: ja %>
      <% end %>
    <% end %>
  </div>
  <div class="room-attributes-wrapper">
    <%= f.simple_fields_for :rooms do |room| %>
      <%= render 'room_fields', f: room %>
      <%#= roomtype_attributes.input_field :_destroy, as: :hidden %>
      <%#= link_to '<i class="far fa-trash-alt"></i>'.html_safe, '#', class: 'remove_record' %>
      <%#= roomtype_attributes.input :number %>
      <%#= roomtype_attributes.input :house_number %>
    <% end %>
  </div>
  <%= link_to_add_room('Add Rooms', f, :rooms, class: 'stacey-button') %>
</div>
