<%= simple_form_for @project, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Projects Address</legend>
    <%= f.simple_fields_for :address do |a| %>
      <%= a.hidden_field :project_id, value: @project.id %>

      <%= a.input :street %>

      <%= a.input :number %>

      <%= a.input :city %>

      <%= a.input :zip %>

      <%= a.input :country, as: :string %>

      <%= a.simple_fields_for :description do |desc| %>
          <%= desc.input :field %>

          <%= desc.input :content %>
      <% end %>
    <% end %>
    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
