<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Contract - STACEY</title>
    <%= favicon_link_tag "stacey_favicon.png", rel: 'icon', type: 'image/png', sizes: "32x32" %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
